body {
	font-family: sans-serif;
	font-size: 12px;
}

table {
	width: 90%;
	max-width: 800px;
	min-width: 400px;
}

input[type=checkbox]{
	margin: 0 5px 2px;
	transform: translate(0, 2px);
}

input[type=text] {
	box-sizing: border-box;
	width: 100%;
	margin: 5px 0;
	padding: 1vw;
	text-align: center;
}

input[type=radio] {
	margin: 0 20px 0 0;
}

input[type=file] {
	max-width: 75%;
}

.x {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::file-selector-button {
	color: #000;
}